<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661408193474-3dc6hkujmu63aghvurfrnkebocobplft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661408193474-3dc6hkujmu63aghvurfrnkebocobplft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>661408193474-0ppat7t52jnba8ufalfd720cpdms4kv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGtKgv8pVGzU8HAwJPbDbi1XpfHtBD6q4</string>
	<key>GCM_SENDER_ID</key>
	<string>661408193474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaselogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-f6a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-f6a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661408193474:ios:05ce89cecd4b849a79d45b</string>
</dict>
</plist>